@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel
<div id="home-text">Hello! Welcome to my site demo of some of Trading Economics free functionality. Use the navigation above to explore a country of interest.</div>

<style>
    #home-text {
        font-size:14px;
        max-width:400px;
        text-align:center;
        box-shadow:
        box-shadow:0 2px 1px 1px lightgray;
        background-color:rgb(240,240,240);
        padding:24px;
        margin:0 auto;
        border-radius:8px;
        box-sizing:border-box;
    }
</style>